<h3>
  {{ isEditMode ? 'Edycja modelu' : 'Tworzenie nowego modelu' }}
</h3>

<form (ngSubmit)="onSubmit()">
  
  <div>
    <label for="modelName">Nazwa modelu: </label>
    <input type="text" id="modelName" required [(ngModel)]="model.name" name="name">
  </div>
  <br>
  <div>
    <label for="modelYear">Rok produkcji: </label>
    <input type="number" id="modelYear" required [(ngModel)]="model.year" name="year">
  </div>
  <br>
  <div>
    <label for="modelEngine">Pojemność silnika (L): </label>
    <input type="number" step="0.1" id="modelEngine" required [(ngModel)]="model.engine" name="engine">
  </div>
  <br>
  <div>
    <button [routerLink]="['/brand', brandId]">
      Anuluj
    </button>
    <button type="submit">
      {{ isEditMode ? 'Zapisz zmiany' : 'Dodaj model' }}
    </button>
  </div>
  
</form>