USE [baza]
GO
/****** Object:  Table [dbo].[Czas]    Script Date: 11/26/2025 8:57:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Czas](
	[ID_Czasu] [int] IDENTITY(1,1) NOT NULL,
	[Godzina] [time](7) NULL,
	[Pora_dnia] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Czasu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Data]    Script Date: 11/26/2025 8:57:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Data](
	[ID_Daty] [int] IDENTITY(1,1) NOT NULL,
	[Data] [date] NULL,
	[Rok] [int] NULL,
	[Miesiac] [varchar](20) NULL,
	[Miesiac_nr] [int] NULL,
	[Dzien_tygodnia] [varchar](10) NULL,
	[Dzien_pracujacy] [bit] NULL,
	[Czas_wakacyjny] [bit] NULL,
	[Swieto] [bit] NULL,
	[Dzien_przedswiateczny] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Daty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interwencje_Fakty]    Script Date: 11/26/2025 8:57:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interwencje_Fakty](
	[ID_Interwencji] [int] IDENTITY(1,1) NOT NULL,
	[ID_Zdarzenia] [int] NULL,
	[ID_Patrolu] [int] NULL,
	[ID_Daty] [int] NULL,
	[ID_Czasu] [int] NULL,
	[ID_Miejsca] [int] NULL,
	[Liczba_rannych] [int] NULL,
	[Liczba_ofiar] [int] NULL,
	[Liczba_sprawcow] [int] NULL,
	[Liczba_kar] [int] NULL,
	[Suma_kwot_kar] [money] NULL,
	[Suma_punktow_karnych] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Interwencji] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kary_Fakty]    Script Date: 11/26/2025 8:57:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kary_Fakty](
	[ID_Notowanego] [int] NOT NULL,
	[ID_Opisu_kary] [int] NOT NULL,
	[ID_Interwencji] [int] NOT NULL,
	[Kwota_mandatu] [money] NULL,
	[Punkty_karne] [int] NULL,
 CONSTRAINT [kary_fakty_pk] PRIMARY KEY CLUSTERED 
(
	[ID_Notowanego] ASC,
	[ID_Opisu_kary] ASC,
	[ID_Interwencji] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Miejsce]    Script Date: 11/26/2025 8:57:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Miejsce](
	[ID_Miejsca] [int] IDENTITY(1,1) NOT NULL,
	[Dzielnica] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Miejsca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notowani]    Script Date: 11/26/2025 8:57:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notowani](
	[ID_Notowanego] [int] IDENTITY(1,1) NOT NULL,
	[Pesel] [varchar](11) NULL,
	[Imie_nazwisko] [varchar](60) NULL,
	[Data_urodzenia] [varchar](20) NULL,
	[Plec] [varchar](10) NULL,
	[DataWaznosciOd] [datetime] NULL,
	[DataWaznosciDo] [datetime] NULL,
	[CzyAktualny] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Notowanego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Opis_kary]    Script Date: 11/26/2025 8:57:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opis_kary](
	[ID_Opisu_kary] [int] IDENTITY(1,1) NOT NULL,
	[Rodzaj] [varchar](50) NULL,
	[Nr_sprawy] [varchar](10) NULL,
	[Podstawa_prawna] [varchar](20) NULL,
	[Czy_przyjeta] [bit] NULL,
	[Seria_numer_mandatu] [varchar](10) NULL,
	[Forma] [varchar](10) NULL,
	[Nazwa_sadu] [varchar](50) NULL,
	[Sygnatura_akt] [varchar](10) NULL,
	[Rodzaj_wniosku] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Opisu_kary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Opis_patrolu]    Script Date: 11/26/2025 8:57:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opis_patrolu](
	[ID_Opisu_patrolu] [int] IDENTITY(1,1) NOT NULL,
	[Marka_radiowozu] [varchar](20) NULL,
	[Model_radiowozu] [varchar](20) NULL,
	[Nr_rejestracyjny] [varchar](8) NULL,
	[Nr_odznaki_kierowcy] [varchar](6) NULL,
	[Nr_odznaki_partnera] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Opisu_patrolu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patrole_Fakty]    Script Date: 11/26/2025 8:57:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patrole_Fakty](
	[ID_Patrolu] [int] IDENTITY(1,1) NOT NULL,
	[ID_Opisu_patrolu] [int] NULL,
	[ID_Daty_rozpoczecia] [int] NULL,
	[ID_Daty_zakonczenia] [int] NULL,
	[ID_Czasu_rozpoczecia] [int] NULL,
	[ID_Czasu_zakonczenia] [int] NULL,
	[ID_Miejsca] [int] NULL,
	[ID_Smieci] [int] NULL,
	[Czas_trwania_min] [int] NULL,
	[Liczba_interwencji] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Patrolu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Smieci]    Script Date: 11/26/2025 8:57:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Smieci](
	[ID_Smieci] [int] IDENTITY(1,1) NOT NULL,
	[Czy_interwencje] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Smieci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zdarzenia]    Script Date: 11/26/2025 8:57:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zdarzenia](
	[ID_Zdarzenia] [int] IDENTITY(1,1) NOT NULL,
	[Kategoria] [varchar](20) NULL,
	[Rodzaj] [varchar](50) NULL,
	[Warunki_pogodowe] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Zdarzenia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Interwencje_Fakty]  WITH CHECK ADD FOREIGN KEY([ID_Czasu])
REFERENCES [dbo].[Czas] ([ID_Czasu])
GO
ALTER TABLE [dbo].[Interwencje_Fakty]  WITH CHECK ADD FOREIGN KEY([ID_Daty])
REFERENCES [dbo].[Data] ([ID_Daty])
GO
ALTER TABLE [dbo].[Interwencje_Fakty]  WITH CHECK ADD FOREIGN KEY([ID_Miejsca])
REFERENCES [dbo].[Miejsce] ([ID_Miejsca])
GO
ALTER TABLE [dbo].[Interwencje_Fakty]  WITH CHECK ADD FOREIGN KEY([ID_Patrolu])
REFERENCES [dbo].[Patrole_Fakty] ([ID_Patrolu])
GO
ALTER TABLE [dbo].[Interwencje_Fakty]  WITH CHECK ADD FOREIGN KEY([ID_Zdarzenia])
REFERENCES [dbo].[Zdarzenia] ([ID_Zdarzenia])
GO
ALTER TABLE [dbo].[Kary_Fakty]  WITH CHECK ADD FOREIGN KEY([ID_Interwencji])
REFERENCES [dbo].[Interwencje_Fakty] ([ID_Interwencji])
GO
ALTER TABLE [dbo].[Kary_Fakty]  WITH CHECK ADD FOREIGN KEY([ID_Notowanego])
REFERENCES [dbo].[Notowani] ([ID_Notowanego])
GO
ALTER TABLE [dbo].[Kary_Fakty]  WITH CHECK ADD FOREIGN KEY([ID_Opisu_kary])
REFERENCES [dbo].[Opis_kary] ([ID_Opisu_kary])
GO
ALTER TABLE [dbo].[Patrole_Fakty]  WITH CHECK ADD FOREIGN KEY([ID_Czasu_rozpoczecia])
REFERENCES [dbo].[Czas] ([ID_Czasu])
GO
ALTER TABLE [dbo].[Patrole_Fakty]  WITH CHECK ADD FOREIGN KEY([ID_Czasu_zakonczenia])
REFERENCES [dbo].[Czas] ([ID_Czasu])
GO
ALTER TABLE [dbo].[Patrole_Fakty]  WITH CHECK ADD FOREIGN KEY([ID_Daty_rozpoczecia])
REFERENCES [dbo].[Data] ([ID_Daty])
GO
ALTER TABLE [dbo].[Patrole_Fakty]  WITH CHECK ADD FOREIGN KEY([ID_Daty_zakonczenia])
REFERENCES [dbo].[Data] ([ID_Daty])
GO
ALTER TABLE [dbo].[Patrole_Fakty]  WITH CHECK ADD FOREIGN KEY([ID_Miejsca])
REFERENCES [dbo].[Miejsce] ([ID_Miejsca])
GO
ALTER TABLE [dbo].[Patrole_Fakty]  WITH CHECK ADD FOREIGN KEY([ID_Opisu_patrolu])
REFERENCES [dbo].[Opis_patrolu] ([ID_Opisu_patrolu])
GO
ALTER TABLE [dbo].[Patrole_Fakty]  WITH CHECK ADD FOREIGN KEY([ID_Smieci])
REFERENCES [dbo].[Smieci] ([ID_Smieci])
GO
